.works {
	margin-top: 131px;
	padding: 64px 80px 101px;
}

.works_content {
	position: relative;
}

.works_heading {
	width: 427px;
	margin: auto;
	margin-top: 64px;
	font-weight: 500;
	font-size: 48px;
	line-height: 60px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: var(--secondary-blue-color);
}

.works_image {
	position: absolute;
	left: -69px;
	top: 90px;
}

.works_text {
	width: 581px;
	height: 180px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;

	position: absolute;
	left: 728px;
	top: 348px;
}

.works_sub {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: var(--grey-dark);
}

.works_paragraph {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	align-items: center;
	color: var(--grey-dark);

	opacity: 0.6;
}

.works_btn {
	position: absolute;
	width: 160px;
	height: 48px;
	left: 728px;
	top: 576px;

	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	gap: 8px;

	background: #ff6c00;
	border-radius: 8px;
}
